.u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 650px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 49px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 212px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -48px auto 0 280px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -48px auto 0 348px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -48px auto 0 76px;
}

.u-section-1 .u-icon-5 {
  height: 48px;
  width: 48px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -48px auto 0 144px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: 70px 5px 0;
}

.u-section-1 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 80px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 650px;
  pointer-events: auto;
  background-image: url("images/10f57243b0b08ba5b2d7d7277ed394d7856983d034596d4fa9423a61ac6afe8c03f044e20879830f4e1c60ee219dbefa0fbfd9dc5532cd51cd9f91_1280.jpg");
  background-position: 0% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 47px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 600px;
    background-position: 19.65% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 79px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 17px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 17px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 79px;
  }

  .u-section-1 .u-image-1 {
    min-height: 460px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 173px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 100px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 100px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 88px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 215px;
  }
}.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 650px;
  pointer-events: auto;
  background-image: url("images/f5f124759596ade7db565a375a7e348dcd298c441c552a1c14eec4fb88c1f114533c0fe2970d4842a74ce82d587169b2cd53882cbb4816c429672a_1280.jpg");
  background-position: 100% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 650px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 100px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 80px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 536px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 622px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
    background-position: 0% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 617px;
    background-position: 0% 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 388px;
    background-position: 0% 91.95%;
    background-size: auto 200%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
  }
}@font-face {
  font-family: 'Canciller_Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Canciller_Bold.otf);
}